*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
  }

  #logo {
    width: 200px;
    height: 50px;
    margin-right: auto;
    cursor: pointer;
  }

  body {
    font-family: Montserrat, sans-serif;
  }

  .nav {
    width: 100%;
    box-shadow: 0 0 10px lightgray;
  }

  
  .nav__list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      margin: 0 1rem;
  }

  a {
      text-decoration: none;
      color: black;
  }

  .listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 0.3rem;
    cursor: pointer;
  }

  .listitem::after {
    content: '';
    width: 0;
    height: 0.3rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 0.3rem;
    bottom: 0.8rem;
    background-color: rgb(207, 6, 143);
    transition: width 200ms ease-in-out;
  }

  .listitem:hover::after, .listitem:focus::after {
    width: 80%;
  }

  .listitem:hover ul, .listitem:focus ul {
    opacity: 1;
    visibility: visible;
  }

  .dropdown {
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px lightgray;
    background-color: white;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    z-index: 2;

  }

  .dropdown li {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 200ms ease-in-out;
  }

  .dropdown li:hover, .dropdown li:focus {
    background-color: rgb(207, 6, 143);
    color: white;
  }

  .intro{
    background-image: url('../images/conf.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    margin: 0px 0px;
  }

  .intro p {
    color: white;
    font-size: 40px;
    text-align: left;
    padding: 250px 0px 0px 30px;
  }

  main {
    margin: 50px 50px 150px 50px;
  }

  main h2 {
    color: rgb(8, 18, 56);
  }

  #email, #name {
    padding: 15px 5px;
    width: 450px;
    height: 50px;
    border: 4px solid rgb(237, 179, 43);
  }

  input::placeholder {
    color: black;
    font-size: 18px;
  }

  input[type=checkbox] {
    margin: 8px 0px;
  }

  #named {
    font-size: 18px;
    padding: 15px 5px;
    width: 100%;
    height: 200px;
    border: 4px solid rgb(237, 179, 43);
  }

  #named::placeholder {
    color: black;
    font-size: 18px;
  }

  #names {
    padding: 15px 5px;
    width: 100%;
    height: 50px;
    border: 4px solid rgb(237, 179, 43);
  }

  button {
    font-size: 18px;
    font-weight: bolder;
    background-color: rgb(8, 18, 56);
    border: none;
    border-radius: 5px;
    color: white;
    width: 200px;
    padding: 15px;
    float: right;
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(6, 150, 207);
  }

  form {
    margin: 0px 0px 70px 0px;
  }

  .contact-address {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
  }

  #address {
    width: 400px;
  }

  .contact-address img {
    width: 400px;
    height: 450px;
    margin-left: 30px;
    border-radius: 30px 130px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer img {
    width: 300px;
    height: 60px;
  }

  .sidefooter {
    margin: 70px 50px 0px 0px;
  }

  .sidefooter p {
    padding-bottom: 20px;
  }

  #footer-contact {
    width: 400px;
    margin: 50px 0px;
  }

  i {
    cursor: pointer;
  }